<footer>
  <div class="footer-address">
    <ul>
      <li><b>Ubicación:</b> Fira de Barcelona, Hospitalet de Llobregat</li>
      <li><b>Fechas:</b> 5, 6 y 7 de Mayo 2025</li>
    </ul>
  </div>
  <div class="web-footer">
  <img src="./assets/images/logoSmall.png" height="75px">
  <ul class="nav">
    <li class="nav__li"><a href="./index.html">Front Page</a></li>
    <li class="nav__li"><a href="./pageTwo.html">Page Two</a></li>
    <li class="nav__li"><a href="./pageThree.html">Page Three</a></li>
    <li class="nav__li"><a href="./pageFour.html">Page Four</a></li>
  </ul>
  <ul class="social">
    <li class="nav__li"><a href="https://www.facebook.com/"><img src="./assets/images/facebook.png" height="30px"></a></li>
    <li class="nav__li"><a href="https://www.x.com/"><img src="./assets/images/twitterx.png" height="30px"></a></li>
    <li class="nav__li"><a href="https://plus.google.com/"><img src="./assets/images/google-plus.png" height="30px"></a></li>
  </ul>
</div>
</footer>
